.main__ {
    padding: 40px 95px 78px 70px;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100vh;
}
.top-layer {
    display: flex;
    justify-content: space-between;
}
.hi__title {
    display: flex;
    align-items: center;
}

.allCust__ {
    margin-top: 40px;
    background-color: #fff;
    border-radius: 30px;
}
.allCust__top-layer {
    padding: 30px 40px 0px;
    display: flex;
    justify-content: space-between;
}
.actionCustomers {
    display: flex;
}
