.menuProfile {
    position: absolute;
    bottom: -500px;
    right: -170px;
    transition: all 0.3s ease;
    background-color: #ddd4ff;
    padding: 15px;
    box-shadow: 5px 0px 15px #c8c8c844;
    border-radius: 8px;
}
.menuProfile-active {
    position: absolute;
    bottom: 0;
    right: -170px;
    transition: all 0.3s ease;
    background-color: #ddd4ff;
    padding: 15px;
    /* box-shadow: 10px 0px 15px #a4a4a456; */
    border-radius: 8px;
}
.menuProfile-active::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #ddd4ff;
    bottom: 40px;
    left: -20px;
    transform: rotate(45deg);
    box-shadow: 0px 0px 15px #a4a4a456;
    z-index: -1;
}
.profile__list-item {
    padding: 10px;
    border-radius: 8px;
    margin-left: 4px;
}
.profile__list-item:not(:last-child) {
    margin-bottom: 4px;
}
.profile__list-item:hover {
    background-color: #eae4ff;
}
.profile_item-link {
    display: flex;
    align-items: center;
}
.profile__text {
    margin-left: 15px;
}
