.proVersion__body {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(110deg, #eaabf0, #4623e9);
    padding: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin-bottom: 48px;
}
.proVersion__body-f {
    border-radius: 50%;
    background-image: linear-gradient(110deg, #eaabf0, #4623e9);
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 48px;
    width: fit-content;
    width: -moz-fit-content;
    position: absolute;
    right: -25px;
    bottom: 180px;
    transition: all 0.3s ease-in-out;
}
.proVersion__body-f:hover {
    transform: scale(1.2);
}
.proVersion__body h3 {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 182px;
}
.proVersion__button {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #4925e9;
    padding: 10px 55px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
}
.proVersion__button-little {
    padding: 12px 8px;
    color: #460074;
    background-color: #fff;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
