.subMenu__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #ad97ff;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    border-radius: 8px;
    margin-top: 5px;
}

/* .subMenu__item {
} */
.subMenu__link {
    padding: 8px;
    border-radius: 8px;
    width: auto;
    transition: all 0.2s;
    transform-origin: center right;
}
.subItem-active {
    background-color: #9679ff;
}
.subMenu__item:hover {
    transform: scale(1.05);
    background-color: #a890ff;
    box-shadow: 0px 0px 15px #44444457;
    border-radius: 8px;
}
.subMenu__item a {
    display: flex;
    align-items: center;
}
a > img {
    margin-right: 15px;
}
.subMenu__item:not(:last-child) {
    margin-bottom: 10px;
}

.subMenu__menu-little {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ad97ff;
    border-radius: 8px;
    margin-top: 5px;
    padding: 5px;
}
.subMenu__menu-little .subMenu__link {
    display: flex;
    justify-content: center;
    padding: 6px;
}
.subMenu__menu-little .subMenu__link img {
    margin: 0;
}
